<Alloy>
    <Window class="container" backgroundColor="#555" layout="vertical" >
        <Label id="myPeerIdLabel" text="Your Peer ID: (waiting)" top="20" />
        <TextField id="peerIdField" hintText="Enter friend's Peer ID" width="80%" top="20" height="40" borderStyle="Ti.UI.INPUT_BORDERSTYLE_ROUNDED"/>
        <Button id="callButton" title="Start Call" top="20" height="40" width="150"/>
        <WebView id="webView" url="/webrtc/index.html" top="20" height="60%" width="100%"/>
    </Window>
</Alloy>